//
$border: rgb(138,135,135);

// BG MAIN PAGE
$bg_main_page: rgb(252,241,232);

//BG FOOTER
$bg_footer: rgb(251, 235, 222);

// HEADER MENUS
$bg_header_menus: rgb(224,204,187);
$ball: rgb(151,143,255);

//PRODUCT CARD
$bg_product_card: rgb(245,245,252);

//FOOTER
$bg_footer: rgb(251,235,222);

//ICONS
$facebook: rgb(66,103,178);

//DOT HEADER
$dot: rgb(151,143,255);