.contact{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: $bg_main_page;
    &__container{
        width:75%;
        height:100%;
        //border:1px solid red;
        display: flex;
        justify-content: center;
    }
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:80%;
    height:100%;
    //border: 1px solid rgb(163, 163, 22);
    &__submitButton{
        font-family: "menu_and_contact";
        padding: 10px 15px;
        font-size: 20px;
        margin-top: 20px;
        border: 1px solid $border;
        border-radius: 5px;
        background-color: $bg_header_menus;
        color: black;
        cursor: pointer;
    }
    &__submitButton:hover{
        transform: scale(1.1);
        transition:200ms;
        box-shadow: 5px 3px 3px $border;
    }
    &__submitButton:active{
        background-color: $ball;
        color: $bg_main_page;
    }
    &__counter{
        //border: 1px solid red;
        display: flex;
        justify-content: flex-end;
        width:70%;
        padding: 10px;
        font-family: "menu_and_contact";
        font-weight: bold;
    }
}
label{
    //border:1px solid blue;
    font-family: "menu_and_contact";
    font-size: 20px;
    margin-top: 40px;
}
//INPUT
input{
    //border:1px solid green;
    width:70%;
    font-size: 25px;
    font-family: "menu_and_contact";
    outline: none;
    border:none;
    border-bottom: 2px solid $border; 
    padding: 10px; 
    background-color: $bg_main_page;
}
input:focus{
    border-color: $ball;
}
//TEXTAREA 
textarea{
    resize: none;
    width:70%;
    height:30%;
    padding: 10px;
    font-size: 20px;
    font-family: "menu_and_contact";
    background-color: $bg_main_page;
    margin-top: 25px;
}
textarea:invalid {
    border: 2px dashed red;
}
textarea:focus{
    outline: none;
    border: 2px solid $ball;
}
