@font-face {
    font-family: "headerTitles";
    src: url(../resources/fonts/Sacramento/Sacramento-Regular.ttf);
}
@font-face {
    font-family: "allText";
    src: url(../resources/fonts/Handlee/Handlee-Regular.ttf);
}
@font-face {
    font-family: "projectTitle";
    src: url(../resources/fonts/Amatic_SC/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: "menu_and_contact";
    src: url(../resources/fonts/Merienda/Merienda-VariableFont_wght.ttf)
}
