@import "./animations";

.header_menus{
    background-color: $bg_header_menus;
    border: 2px solid $border;
    width:100%;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        width:100%;
        height: 100%;
    }
}
.nav{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__menu{
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        //border:1px solid green;
        &__title{
            font-family: "headerTitles";
            font-size: 40px;
            color:black;
            //border:1px solid blue;
            display: flex;
            margin-top: 25px;
            cursor: pointer;
            text-shadow: $border 5px 0 5px;
        }
        &__title:active{
            text-shadow: $bg_main_page 1px 0 10px;
        }
        &__title:hover{
            transform:scale(0.9);
            transition:200ms;
        }
        &__dot{
            background-color:$dot;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-bottom: 20px;
            //border:1px solid red;
            text-align: center;
            animation: apparition 200ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }
}


