.scrollUp{
    color:$bg_footer;
    font-size: 1.5em;
    border:1px solid $border;
    background-color: $ball;
    border-radius: 50%;
    transform: scale(1);
    transition:150ms;
    &:hover{
        cursor: pointer;
        transform: scale(1.2);
    }
    &:active{
        transform: scale(0.8);
        background-color: $bg_footer;
        color:$ball;
    }

    
}